each item, index in items
    div(class="details__item " + ((index >= freeSpace) ? "datails--more" : ""))
        span.details__item-text= item[0]
        span.details__num=item[1]
            span= item[2] || ""
