doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css')

        title
            block title

    body

        // wrapper
        .wrapper

            // maincontent
            .maincontent

                // menu
                block menu
                // END menu

                // content
                block content
                // END content

            // END maincontent

        // END wrapper

        .overflow
        .popup
            .popup__inner
