* {
  box-sizing: border-box;
}

//===============================================
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-base-family;
  font-size: $font-base-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

html {
  position: relative;
}

.wrapper,
.maincontent {
  height: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.maincontent {
  position: relative;
  background: #f1f1f1;
}

%debug {
  outline: 1px solid #f0f;
}

.isLandscape {
  html,
  body,
  .wrapper,
  .maincontent,
  .content,
  .current-city,
  .addition,
  .menu__search,
  .menu__city-viewer {
    height: auto;
    min-height: initial;
  }

  @media #{$screen-md} {
    html,
    body,
    .maincontent,
    .wrapper,
    .content {
      height: 100% !important;
      min-height: 100% !important;
    }
  }
}