* {
  box-sizing: border-box;
}

//===============================================
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-base-family;
  font-size: $font-base-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
}

body {}

.wrapper,
.maincontent {
  height: 100%;
  min-height: 100%;
}

.maincontent {
  position: relative;
}

%debug {
  outline: 1px solid #f0f;
}

.isLandscape {
  html,
  body,
  .wrapper,
  .maincontent,
  .content,
  .current-city,
  .addition,
  .menu__search,
  .menu__city-viewer {
    height: auto;
    min-height: auto;
  }
}