each city in cities
    div(data-geoId= city.id data-city-viewer-item class="city-viewer__item " + ((city.active) ? "active" : ""))= city.name
        a(href="#").city-viewer__item-close(data-city-viewer-item-close)