.addition(data-addition)
    //ul.addition__list
    //    li.addition__item
    //        include ./_next-day.pug
    //    li.addition__item
    //        include ./_next-day.pug
    //    li.addition__item
    //        include ./_next-day.pug
    //    li.addition__item
    //        include ./_next-day.pug
    //    li.addition__item
    //        include ./_next-day.pug