.city-viewer(data-city-viewer)
    .city-viewer__inner(data-city-viewer-inner)
        //.city-viewer__item(data-geoId = "6167865" data-city-viewer-item).active
        //    | Toronto, Canada
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
        //.city-viewer__item(data-geoId = "5368361" data-city-viewer-item)
        //    | Los Angeles, USA
        //    a(href="#" data-city-viewer-item-close ).city-viewer__item-close
    .city-viewer__blocker