.city-viewer
    .city-viewer__inner
        .city-viewer__item
            | Toronto, Canada
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close
        .city-viewer__item
            | Los Angeles, USA
            a(href="#").city-viewer__item-close