.details
    .details__item
        span.details__item-text Feels like
        span.details__num.celcius 14
    .details__item
        span.details__item-text Humidity
        span.details__num 55%
    .details__item
        span.details__item-text Wind speed
        span.details__num 3
    .details__hidden
        .details__item
            span.details__item-text Sample
            span.details__num 3
        .details__item
            span.details__item-text Sample
            span.details__num 3