.hourly
    .hourly__inner
        .hourly__slider
            .hourly__slide
                .hourly__slide-time 21:00
                .hourly__slide-temp 10
            .hourly__slide
                .hourly__slide-time 21:00
                .hourly__slide-temp 10
            .hourly__slide
                .hourly__slide-time 21:00
                .hourly__slide-temp 10
            .hourly__slide
                .hourly__slide-time 21:00
                .hourly__slide-temp 11
            .hourly__slide
                .hourly__slide-time 21:00
                .hourly__slide-temp 12