.menu.open
    .menu__inner
        a(href="#").menu__close
        .menu__search
            include ./_search.pug
        .menu__city-viewer
            include ./_city-viewer.pug
        .menu__tongue
    .menu__overflow
