.menu
    .menu__inner
        .menu__close
            | close menu
        | good menu
        .menu__search
            include ./_search.pug
        .menu__city-viewer
            include ./_city-viewer.pug