.addition {
  height: 50%;
}

.addition__list {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  transition: height .3s;
}

.addition__item {
  //min-height: 100px;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 10px;
  list-style-type: none;
  background: map-get($clrs, primary);
  box-shadow: $boxShadowPrimary;

  &:last-child {
    margin-bottom: 0;
  }
}