.addition {
  height: 50%;

  @media #{$screen-md} {
    height: 45% !important;
  }
}

.addition__list {
  @extend %clearfix;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  transition: height .3s;

  @media #{$screen-sm} {
    padding: 10px;
    padding-bottom: 0;
  }

  @media #{$screen-md} {
    padding-bottom: 10px;
  }
}

.addition__item {
  margin: 0 10px;
  margin-bottom: 10px;
  list-style-type: none;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$screen-sm} {
    width: 50%;
    float: left;
    margin: 0;
    padding-bottom: 20px;
    height: 33.3333333%;

    &:nth-child(2n) {
      padding-left: 10px;
    }

    &:nth-child(2n - 1) {
      padding-right: 10px;
    }
  }

  @media #{$screen-md} {
    width: 20%;
    height: 100%;
    padding: 0 5px;
    display: table;

    &:nth-child(2n - 1),
    &:nth-child(2n) {
      padding: 0 5px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}