.city {
  position: relative;
  height: 100%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;

  @media #{$screen-sm} {
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 55px;
  }
}

.city__name {
  text-align: right;

  @media #{$screen-sm} {
    padding-top: 10px;
    font-size: 40px;
    line-height: 42px;
  }

  @media #{$screen-md} {
    padding-top: 10px;
    font-size: 30px;
    line-height: 32px;
  }
}

.city__descr {
  @extend %clearfix;

  margin-bottom: 5px;

  @media #{$screen-sm} {
    margin-bottom: 30px;
  }

  @media #{$screen-md} {
    margin-bottom: 10px;
  }
}

.city__details {
  max-width: 65%;

  @media #{$screen-sm} {
    max-width: 65%;
  }
}

.city__descr-main {
  float: left;
}

.city__weather {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 28px;

  @media #{$screen-sm} {
    margin-bottom: 30px;
    font-size: 46px;
    line-height: 48px;
  }

  @media #{$screen-md} {
    font-size: 36px;
    line-height: 38px;
  }
}

.city__temp {
  font-size: 40px;
  line-height: 42px;

  @media #{$screen-sm} {
    font-size: 80px;
    line-height: 82px;

    &.celcius:after {
      font-size: 80px;
      line-height: 60px;
    }
  }

  @media #{$screen-md} {
    font-size: 60px;
    line-height: 62px;
  }

}

.city__descr-img-wrap {
  float: right;
  padding-top: 5px;
  text-align: right;

  @media #{$screen-sm} {
    padding-top: 15px;
  }
}

.city__descr-img {
  width: 100px;
  //margin-bottom: -15px;
  transition: all .3s;

  @media #{$screen-sm} {
    width: 170px;
  }

  @media #{$screen-md} {
    width: 125px;
    //margin-bottom: -15px;
  }
}

.city__date {
  text-align: right;
  transition: all .3s;

  @media #{$screen-sm} {
    font-size: 26px;
    line-height: 28px;
  }
}

.city__more {
  @extend %no-link;

  position: absolute;
  bottom: 10px;
  right: 20px;
  display: block;
  padding-top: 10px;
  text-align: right;
  color: map-get($clrs, dark);

  @media #{$screen-sm} {
    padding-top: 80px;
    font-size: 24px;
    line-height: 26px;
  }

  @media #{$screen-md} {
    padding-top: 70px;
  }
}

.city__reload {
  position: absolute;
  left: 20px;
  bottom: 5px;
  width: 25px;
  height: 25px;
  transition: all .1s;
  transform: rotate(1deg);

  &.reloading {
    animation-name: rotateRefresher;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media #{$screen-sm} {
    width: 40px;
    height: 40px;
    left: 35px;
    bottom: 10px;
  }
}

.city__reload-img {
  max-width: 100%;
  width: 100%;
  color: inherit;
}


@keyframes rotateRefresher {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
