.city-viewer {
  position: relative;
  height: 100%;
  color: rgba(0, 0, 0, .6);

  &.blocked {
    .city-viewer__blocker {
      display: block;
    }
  }

  @media #{$screen-md} {
    font-size: 22px;
    line-height: 24px;
  }
}

.city-viewer__inner {
  height: inherit;
  overflow: auto;
  padding-right: 5px;
  padding-bottom: 5px;
}

.city-viewer__item {
  @include text-overflow(null);

  position: relative;
  padding: 12px;
  padding-right: 40px;
  margin-bottom: 10px;

  border: solid 1px transparent;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px map-get($clrs, smooth-gray);
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
  
  &.active {
    background-color: #ddd;
  }
  
  &.show-preloader {

    .city-viewer__item-close {
      animation-name: rotate;
      animation-duration: .6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

.city-viewer__item-close {
  @include closeBtn(24px, 3px, smooth-gray, 10px, 10px);
  box-shadow: none;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.city-viewer__blocker {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(45deg);
  }
  100% {
    transform: translateY(-50%) rotate(405deg);
  }
}
