.current-city {
  height: 50%;
  padding: 10px;
  transition: height .3s;

  &.init {
    visibility: hidden;
  }

  &.small {
    height: 150px;

    .city__descr-img {
      width: 60px;
      margin-bottom: -5px;
    }

    .city__date {
      font-size: 10px;
    }
  }

  &.show-more-details {
    position: relative;
    z-index: 12;
    height: auto !important;

    //@media #{$screen-md} {
    //  .current-city__overlay {
    //    display: block;
    //  }
    //}
  }

  &.shown {
    .current-city__overlay {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  @media #{$screen-md} {
    height: 55% !important;
  }
}

.current-city__inner {
  position: relative;
  z-index: 8;
  height: 100%;
  background: map-get($clrs, primary);
  box-shadow: $boxShadowPrimary;
}

.current-city__overlay {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: background .5s;
}