.details {
  position: relative;
  //max-width: 60%;
  margin: 0;
  padding: 0;

  @media #{$screen-sm} {
    font-size: 24px;
    line-height: 26px;
  }

  &.hidden {
    display: none;
  }

  &.open {
    padding-bottom: 4px;
    margin-bottom: 11px;

    .details__item {
      margin-bottom: 10px;

      &.datails--more {
        display: block;
      }

      @media #{$screen-sm} {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid map-get($clrs, dark);
      }
    }
  }
}

.details__item {
  @extend %clearfix;

  margin-bottom: 3px;
  list-style-type: none;
  //transition: all .1s;

  &.datails--more {
    display: none;
  }

  @media #{$screen-sm} {
    margin-bottom: 10px;
  }
}

.details__item-text {
  float: left;
  width: 50%;
}

.details__num {
  float: right;
  width: 50%;
  text-align: right;
}

.details__hidden {
  display: none;
}