.hourly {
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: height 0.1s;
  height: 0;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 94%;
    height: 1px;
    box-shadow: 0 -4px 14px 1px #777;
  }

  &.shown {
    height: 80px;


  }

  &.shown-slider {
    .hourly__inner {
      top: 0;
    }
  }

  &.hidden {
    display: none;
  }

  @media #{$screen-sm} {
    font-size: 24px;
    line-height: 38px;
  }
}

.hourly__inner {
  position: absolute;
  top: -80px;
  width: 100%;
  height: 80px;
  padding-top: 15px;
  overflow: hidden;
  transition: top 0.45s ease-in-out;
  //transition-delay: 0.1s;

  @media #{$screen-sm} {
    padding-top: 20px;
  }
}

.hourly__slider {
  @extend %clearfix;

  position: absolute;
  left: 0;
  width: 200%;
  transition: all .3s;

  &.slide {
    left: -100%;
  }
}

.hourly__slide {
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
  width: 12.5%;
  border-left: 1px solid #ccc;

  &:first-child,
  &:nth-child(5){
    border-left-color: transparent;
  }
}

.hourly__slide-time {
  line-height: 25px;
  margin-bottom: 3px;
}

.hourly__slide-temp {
  &.celcius:after {
    font-size: 30px;
  }
}
