.menu {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  min-height: 100%;
  transition: left .3s;

  &.open {
    left: 0;

    .menu__overflow {
      display: block;
    }
  }

  @media #{$screen-sm} {
    width: 440px;
    left: -440px;
  }

  @media #{$screen-md} {
    position: relative;
    left: 0;
    width: 400px;
    float: left;
    padding: 10px;
  }
}

.menu__inner {
  position: relative;
  z-index: 11;
  height: 100%;
  min-height: 100%;
  padding: 0 20px 10px 0;
  background: map-get($clrs, primary);
  box-shadow: $boxShadowPrimary;

  @media #{$screen-md} {
    padding-left: 20px;
  }
}

.menu__close {
  @include closeBtn(40px, 4px, smooth-gray, 10px, 10px);

  @media #{$screen-md} {
    display: none;
  }
}

.menu__overflow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;

  @media #{$screen-md} {
    display: none !important;
  }
}

div.menu__search {
  height: 20%;
  padding-top: 65px;

  @media #{$screen-md} {
    height: 20% !important;
  }
}

.menu__city-viewer {
  height: 80%;
  padding-top: 50px;

  @media #{$screen-md} {
    height: 80% !important;
  }
}

.menu__tongue {
  position: absolute;
  width: 9px;
  height: 100px;
  background: #aaa;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 5px 5px 0;

  @media #{$screen-md} {
    display: none;
  }
}