.nex-day {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 10px;
  background: map-get($clrs, primary);
  box-shadow: $boxShadowPrimary;

  @media #{$screen-md} {
    display: table-cell;
  }
}

.nex-day__img-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 90px;

  @media #{$screen-md} {
    display: block;
    width: auto;
    margin-bottom: 20px;
  }
}

.nex-day__img {
  display: block;
  width: 70px;
  margin: 0 auto;
}

.nex-day__desc {
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;

  @media #{$screen-sm} {
    font-size: 22px;
    line-height: 24px;
  }

  @media #{$screen-md} {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.nex-day__date {
  margin-bottom: 10px;
  font-size: 16px;

  @media #{$screen-sm} {
    font-size: 24px;
    line-height: 26px;
  }
}

.nex-day__weather {
  text-align: center;
}

.nex-day__temp {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 26px;

  @media #{$screen-md} {
    display: block;
  }
}

.nex-day__temp-day {
  //margin-bottom: 10px;
}

.nex-day__temp-hight {

}
