.preloader {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("#{$dir}/wheel.svg");
  background-position: center center;
  background-repeat: no-repeat;

  &.show {
    display: block;
  }
}
