.preloader {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("#{$dir}/preloader.gif");
  background-position: center center;
  background-repeat: no-repeat;

  &.show {
    display: block;
  }
}