.search {
  position: relative;
  z-index: 20;

  .tp-ac__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.block {
    .search__block {
      display: block;
    }

    .search__inner {
      opacity: .6;
    }
  }
}

.search__inner {
  padding-right: 5px !important;
}

.search__input {
  width: 100%;
  padding: 20px !important;
  border: solid 1px transparent;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  font-size: 22px;
  -webkit-appearance: none;
  text-overflow: ellipsis;
  transition: opacity .3s;
}

.search__block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
