.search {
  height: 30%;

  .tp-ac__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.search__inner {
  padding-right: 5px !important;
}

.search__input {
  width: 100%;
  padding: 20px !important;
  border: solid 1px transparent;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  font-size: 22px;
  -webkit-appearance: none;
  text-overflow: ellipsis;
}
